.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #afafaf;
    margin: 0;
    padding: 1rem;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

ul {
    display: flex;
    list-style: none;
    margin: 1rem;
}

ul li {
    display: flex;
    margin-right: 20px;
    padding: 8px;
}