.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border : 3px solid #7c7c7c;
    padding: 2rem 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    gap: 10px;
    box-sizing: border-box;
}