/* Icônes étoile */
.stars .material-icons {
    font-size: 1.2rem;
    color: #FFD700;
}

h1 {
    font-size: 45px;
    text-align: center;
    color: #008CBA;
}

h2 {
    color: #333;
    text-align: center;
}

body {
    background-color: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

main>section {
    width: 410px;
    margin: 2rem auto;
    background-color: #f0f8ff;
    border: #008CBA 3px solid;
    border-radius: .5rem;
    padding: 1rem 1.3rem;
}


ul li {
    display: inline-block;
    width: 50%;
    font-size: 1rem;
    vertical-align: middle;
}

.com {
    text-align: right;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    font-size: 0;
}


main>section>a{
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    background-color: #008CBA;
    border-radius: .5rem;
    padding: 1rem 2rem;
    text-align: center;
    margin: 2rem 1rem;
    display:block;
    width: 20%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 0;
}